<div class="container">
  <div class="row">
    <div
      class="col-lg-12 col-md-12 d-flex justify-content-center align-items-center container-register"
    >
      <div class="register mt-5">
        <h2>Register</h2>

        <form class="formulario mb-3" [formGroup]="formRegister">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              placeholder="Insert name"
            />
            <div *ngIf="this.validField('name')">
              <label>Este Campo es Obligatorio</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email </label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="insert Email"
            />
            <div *ngIf="this.validField('email')">
              <label>Este Campo es Obligatorio</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Insert password"
            />
            <div *ngIf="this.validField('password')">
              <label>Este Campo es Obligatorio</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="passwordConfirm" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="passwordConfirm"
              formControlName="confirma"
              placeholder="Insert password"
            />
            <div *ngIf="this.validField('confirma')">
              <label>Este Campo es Obligatorio</label>
            </div>
            <p *ngIf="validPassword()">
              * Las contraseñas tienen que ser iguales
            </p>
          </div>
          <div>
            <button
              class="button-register"
              [disabled]="this.formRegister.invalid"
              (click)="register()"
            >
              Register
            </button>
          </div>
          <p class="mt-3" routerLink="/auth/login">
            ¿Do you already have an account ?
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
