<div class="container">
  <div class="row">
    <div
      class="col-lg-12 col-md-12 d-flex justify-content-center align-items-center container-register"
    >
      <div class="register mt-5">
        <h2>Register</h2>

        <form class="formulario mb-3">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Insert name"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email </label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="insert Email"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Insert password"
            />
          </div>
          <div class="mb-3">
            <label for="passwordConfirm" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="passwordConfirm"
              placeholder="Insert password"
            />
          </div>
          <div>
            <button class="button-register" disabled>Register</button>
          </div>
          <p class="mt-3" routerLink="/auth/login">
            ¿Do you already have an account ?
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
