<div class="row bg-slate-200 py-5">
  <div class="col-lg-9 col-md-12 d-flex align-items-center">
    <div class="logo me-5">
      <h1
        (click)="routerHome()"
        [ngClass]="{ cursor: this.authHeader }"
        class="font-bold uppercase text-4xl"
      >
        STARLINE
      </h1>
    </div>
    <div class="nav">
      <nav>
        <a routerLink="/startLink/feature">Feature</a>
        <a routerLink="/startLink/contact">Contact</a>
        <a routerLink="/startLink/admin" *ngIf="this.roleUser">Admin</a>
      </nav>
      <hr />
    </div>
  </div>
  <div class="col-lg-3 col-md-4">
    <div class="auth-button">
      <div *ngIf="!this.authHeader">
        <button class="me-3" routerLink="/auth/login">Login</button>
        <button routerLink="/auth/register">Register</button>
      </div>
      <div *ngIf="this.authHeader">
        <button (click)="logout()">Cerrar Sesion</button>
      </div>
    </div>
  </div>
</div>
