<div class="row mt-5">
  <div class="col-lg-6 col-md-6 mt-5">
    <section>
      <h3>Vision StarLink</h3>
      <p>
        La visión es posicionarse en el mercado como una empresa líder en
        telecomunicaciones, cubriendo todos los servicios en medios
        tecnológicos, para el alcance de todos los sectores, llenando las
        expectativas de los clientes.
      </p>
    </section>
    <hr />
    <section>
      <h3>Mision StarLink</h3>
      <p>
        STARLINK es una empresa que busca satisfacer las necesidades de los
        clientes en servicios de medios tecnológicos y telecomunicaciones,
        contamos con los mejores equipos y servicios profesionales. Haciéndose
        conocer por su excelente trabajo con los mas altos indices de calidad
        brindando soluciones e innovación.
      </p>
    </section>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="hero">
      <img src="../../assets/images/image-hero-desktop.png" alt="hero" />
    </div>
  </div>
</div>
