<div class="row mt-5">
  <div class="col-lg-6 col-md-6 mt-5">
    <h3>Vision StarLink</h3>
    <p>
      La visión de DATAREDES TELECOMUNICACIONES SAS es posicionarse en el
      mercado como una empresa líder en telecomunicaciones, cubriendo todos los
      servicios en medios tecnológicos, para el alcance de todos los sectores,
      llenando las expectativas de los clientes.
    </p>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="hero">
      <img src="../../assets/images/image-hero-desktop.png" alt="hero" />
    </div>
  </div>
</div>
